.link {

  &:any-link {
    color: #fff;
  }

  &:hover {
    text-decoration: underline;
  }
}


@include mobile {

}

@include except-mobile {

  .link {
    padding: 10px;

    & + & {
      margin-left: 12px;
    }
  }
}
