.container {
  width: 100%;
  max-width: 800px;
  padding: 32px;
}

.title {
  color: #a8adbb;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}

.address {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #141415;
  padding: 13px 8px;
}

.addressTitle {
  margin-right: 16px;
  font-size: 16px;
  color: #d8dae0;
}

.addressContent {
  font-size: 14px;
  color: #ffd300;
}

.infoContainer {
  width: 100%;
  padding: 20px;
  background-color: #202021;
  font-size: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.box {
  width: 100%;
  padding: 16px;
}

.boxTitle {
  font-size: 14px;
  color: #d8dae0;
  padding: 8px;
  text-align: center;

  &.accent {
    color: #ffd300;
  }
}

.boxContent {
  font-size: 18px;
  color: #d8dae0;
  font-weight: 600;
  padding: 12px;
  text-align: center;
  background-color: #141415;

  &.accent {
    color: #141415;
    background-color: #fff8d8;
  }
}

.buttonContainer {
  display: flex;
  align-items: flex-end;
  padding: 16px;

  button {
    width: 100%;
    border: none;
    padding: 8px 16px;
    font-size: 25px;
    background-color: #ffd300;
    cursor: pointer;

    &:hover {
      background-color: #ffeb86;
      transition: .1s;
    }
  }
}
