.stats {
  margin-top: 24rem;

  @include except-mobile {
    display: flex;
    justify-content: space-between;
  }
}

.divider {
  align-self: stretch;
  width: 1px;
  min-height: 100%;
  background-color: #2a595e;
}

.stat {
  text-align: center;

  @include mobile {
    margin-top: 20rem;

    &:first-child {
      margin-top: 0;
    }
  }

  @include except-mobile {
    width: calc(100% / 3 - 2px);
    padding: 0 20rem;
  }

  > .spinner {
    display: inline-block;
    vertical-align: top;
    height: 24rem;
    margin: 6rem 0;

    img {
      display: block;
      width: 24rem;
    }
  }
}

.title {
  margin-bottom: 8rem;
  color: #8E9DB1;
  font-size: 12rem;
  line-height: 16rem;
}

.value {
  font-weight: 600;
  font-size: 18rem;
  line-height: 28rem;
}
