.container {
  width: 100%;
}

.title {
  text-transform: uppercase;
  font-weight: 400;
  color: #fff;

  &:first-child {
    margin-top: 0;
  }
}

.input,
.datePicker input {
  width: 100%;
  background-color: rgba(#d1d3dc, 0.8);
  border: 0;
  outline: none;

  &:focus {
    background-color: white;
    border-color: white;
  }

  @include placeholder {
    font-weight: 400;
  }
}

.datePicker {
  width: 100%;
}

.button {
  width: 100%;
  border: none;
  cursor: pointer;
  font-weight: 500;
  color: #fff;
  background-color: #4275F6;
  box-shadow: rgba(#000, 0.3) 0 3px 5px;
  transition: all 0.3s ease;

  &:hover {
    background-color: #4c80ff;
  }
}

.statusContainer {
  margin-top: 10px;
  font-size: 16px;
  text-align: center;
}

.error {
  color: #ff8888;
}

.success {
  color: #88ffb0;
}

.loading {
  color: #ffd300;
}


@include mobile {

}

@include except-mobile {

  .container {
    max-width: 320px;
  }

  .title {
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 4px;
  }

  .input,
  .datePicker input {
    padding: 14px 20px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 6px;
  }

  .button {
    display: block;
    height: 48px;
    margin: 32px auto 0;
    font-size: 17px;
    border-radius: 8px;
  }
}
