.container {
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  padding: 32px;
}

.address {
  margin-top: 20px;
  background-color: #141415;
  padding: 13px 8px;
  text-align: center;
}

.addressTitle {
  font-size: 16px;
  color: #d8dae0;
}

.addressContent {
  margin-top: 8px;
  font-size: 14px;
  color: #ffd300;
}

.controlls {
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    color: #141415;
    padding: 8px;
    background-color: #ffd300;
    text-align: center;
    width: 49%;

    &:hover {
      background-color: #ffeb86;
      transition: .1s;
    }
  }
}
