.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1344px;
  margin: 0 auto;
  padding: 16px;
}

.left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo {
  margin-right: 30px;
}
