.block {
  margin-top: 24rem;
  padding: 16rem 20rem;
  border: 1px solid #306a70;
  background-color: rgba(26, 31, 38, 0.3);
  box-shadow: #2a595e 0 2px 10px;
  border-radius: 8rem;

  @include mobile {
    padding-bottom: 24rem;
  }

  &:first-child {
    margin-top: 0;
  }
}

.title {
  color: #fff;
  font-weight: 600;
  font-size: 18rem;
  line-height: 28rem;
}

.dates {
  color: #8E9DB1;
  font-weight: 600;
  font-size: 14rem;
  line-height: 18rem;
}

.vesting {
  margin-top: 40rem;

  &:first-child {
    margin-top: 0;
  }
}

.connectButton {
  display: block;
  width: 280rem;
  height: 38rem;
  margin: 40rem auto 0;
  border: 0;
  font-weight: 600;
  color: #4D5A6A;
  font-size: 12rem;
  text-align: center;
  text-transform: uppercase;
  background: none;
  background-color: #F6F9FB;
  cursor: pointer;
  border-radius: 6rem;

  &:disabled {
    color: #4D5A6A;
    background-color: #323842;
    cursor: not-allowed;
  }
}

.claimButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280rem;
  height: 38rem;
  margin: 40rem auto 0;
  border: 0;
  font-weight: 600;
  color: #4D5A6A;
  font-size: 12rem;
  text-align: center;
  text-transform: uppercase;
  background: none;
  background-color: #F6F9FB;
  cursor: pointer;
  border-radius: 6rem;

  img {
    display: block;
    width: 10rem;
    margin-top: 2rem;
    margin-left: 8rem;
    vertical-align: top;
    filter: invert(1);
  }

  &.disabled {
    background-color: #aaa;
    cursor: not-allowed;
  }
}
