.walletButton {
  display: flex;
  align-items: center;
  border: 0;
  color: #fff;
  background-color: #000;
  cursor: pointer;
  box-shadow: rgba(#000, 0.3) 0 3px 5px;

  &[aria-expanded="true"] {
    background-color: rgba(#000, 0.7);
    box-shadow: none;

    .arrow {
      transform: rotate(180deg);
    }
  }
}

.arrow {
  color: #fff;
}

.dropList {
  color: #fff;
  text-align: right;
  background-color: #000;
  box-shadow: 0 4px 24px rgba(#000, 0.24);
}

.logoutButton {
  border: 0;
  background: none;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}


@include mobile {


}

@include except-mobile {

  .walletButton {
    height: 38px;
    padding: 0 16px;
    border-radius: 8px;
  }

  .arrow {
    width: 24px;
    height: 24px;
    margin-left: 16px;
  }

  .dropList {
    position: absolute;
    top: 100%;
    right: 0;
    display: grid;
    grid-row-gap: 20px;
    margin-top: 12px;
    padding: 24px;
    font-size: 14px;
    line-height: 20px;
    border-radius: 10px;
  }
}
