$bg-white: #fff;
$bg-dark: #2a3039;
$bg-gray: #f5f9fb;

// surface
$surface-primary: #fff;
$surface-primary-rgb: 255, 255, 255;
$surface-alternative: #f5f9fb;
$surface-dark: #2a3039;

// on surface
$on-surface-100: #f6f9fb;
$on-surface-200: #e7effb;
$on-surface-300: #d4dfea;
$on-surface-400: #4f5763;
$on-surface-500: #49515c;
$on-surface-600: #323842;
$on-surface-accent-100: #e2f9f4;
$on-surface-accent-200: #38ffcf;
$on-surface-accent-300: #68eaca;
$on-surface-accent-400: #34e2b8;
$on-surface-accent-500: #13d0ae;
$on-surface-accent-light: #e2f9f4;
$on-surface-yellow: #ffbe17;
$on-surface-red: #d33108;

// dividers
$divider-100: #e7effb;
$divider-200: #d4dfea;
$divider-dark-100: #333943;
$divider-dark-200: #5b6471;

// borders
$border-100: #e7effb;
$border-200: #d4dfea;
$border-300: #5b6471;
$border-400: #333943;
$border-red: #d33108;

// text
$text-100: #ffffff;
$text-200: #d3d6d9;
$text-300: #8e9db1;
$text-400: #4d5a6a;
$text-500: #262d36;
$text-info: #2944c0;
$text-accent-100: #38ffcf;
$text-accent-200: #07c8b1;
$text-warning: #ffc738;
$text-attention: #d33108;
