.modal {
  background-color: #191E26;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 304rem;
  margin: 0 auto;
}

.title {
  margin-bottom: 40rem;
  color: #fff;
  font-weight: 700;
  font-size: 28rem;
  line-height: 40rem;
}

.button {
  position: relative;
  width: 100%;
  margin-top: 16rem;
  border: 0;
  background: none;
  background-color: #21272f;
  border-radius: 12rem;
  cursor: pointer;
  @include basic-transition();

  &:first-child {
    margin-top: 0;
  }

  &:hover {
    background-color: #191E26;
  }

  &[disabled] {
    cursor: not-allowed;
    filter: grayscale(100%);
  }
}

.buttonInner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64rem;
  padding: 0 16rem;
}

.buttonIcon {
  width: 32rem;
  height: 32rem;
}

.buttonTitle {
  padding: 0 20px;
  color: #fff;
  font-weight: 400;
  font-size: 20rem;
}

.checkbox {
  color: #fff;
}
