.container {
  width: 100%;
  max-width: 800px;
  padding: 32px;
}

.titleContainer {
  color: #a8adbb;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}

.formContainer {
  margin-top: 20px;
  width: 100%;
  padding: 20px;
  background-color: #202021;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.box {
  padding: 20px;
  margin-bottom: 20px;
}

.title {
  font-size: 18px;
  margin-bottom: 8px;
  color: #d8dae0;
}

.input {
  width: 100%;
  padding: 10px 20px;
  background-color: #d1d3dc;
  border: solid 2px #202021;
  outline: none;

  &:focus {
    background-color: white;
    border-color: white;
  }
}

.datePicker {
  width: 100%;

  input {
    width: 100%;
    padding: 10px 20px;
    background-color: #d1d3dc;
    border: solid 2px #202021;
    outline: none;

    &:focus {
      background-color: white;
      border-color: white;
    }
  }
}

.buttonContainer {
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 2px;
}

.errorContainer {
  margin-top: 10px;
  font-size: 16px;
  color: #ff8888;
  text-align: center;
}

.successContainer {
  margin-top: 10px;
  font-size: 16px;
  color: #88ffb0;
  text-align: center;
}

.button {
  border: none;
  padding: 4px;
  width: 100%;
  font-size: 25px;
  background-color: #ffd300;
  cursor: pointer;

  &:hover {
    background-color: #ffeb86;
    transition: .1s;
  }
}


@media (max-width: 650px) {

  .container {
    padding: 16px;
  }

  .formContainer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}
