@mixin basic-transition($property: all) {
  transition: $property 0.23s $ease-in-out-quadratic;
}

@mixin no-scrollbar {
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }

  & {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

@mixin placeholder {
  &::placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
}
